<!DOCTYPE html>
<html>
<head>
    <!-- Head content -->
    <!-- Include jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    crossorigin="anonymous"></script>

  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
  </style>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">VirusTotal Dashboard</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/scan_result">Scan Result</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">VirusTotal Dashboard</a>
        </div>
       </nav>
       <br>
       <div class="container">
        <form method="POST" action="/scan_results">
          <label for="my-dropdown">Scan Results</label>
          <select class="form-select" id="my-dropdown" name="resource_type">
              <option disabled selected>Select an item</option>
              <option value="file">Files</option>
              <option value="url">Urls</option>
          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       </div>


    {% block content %}{% endblock %}
</body>
</html>